

<div class="row">
    <div class="col-4">
        <h3>Canchas de Futbol</h3>
    </div>
    <div class="col-3">
        <a asp-action="Crear" class="btn btn-primary form-control">Crear nueva cancha</a>
    </div>
</div>

<div>

        <table class="table table-striped border">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Urllmagen</th>
                <th>Acciones</th>
            </tr>
           

        </table>
         

</div>
